.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  box-sizing: inherit;
  position: relative;
}

@media only screen and (max-width: 950px) {
  .main {
    flex-direction: column;
  }
}
