<section>
  <div class="main">
    <div class="info">
      <div class="weather-card-header">{{ weather.name }}</div>
      <div class="weather-card-description">
        {{ weather.main.temp | kelvinToCelsius }}°C
      </div>

      <div class="weather-card-description">
        Feels like: {{ weather.main.feels_like | kelvinToCelsius }}°C
      </div>
      <div>
        Wind degreeas: {{ weather.wind.deg }}° Wind speed:
        {{ weather.wind.speed }}m/s
      </div>
    </div>

    <div class="map">
      <app-map />
    </div>
  </div>
</section>
