section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 70%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: center;
  box-sizing: inherit;
  position: relative;
  color: white;
  border-radius: 20px;
  background-color: rgb(67, 1, 153);
}

.weather-card-description {
  font-size: 14px;
  text-align: center;
}

.weather-card-header {
  font-size: 32px;
  text-align: center;
}

.weather-card-icon {
  font-size: 82px;
  text-align: center;
}

.weather-card-temperature {
  font-size: 32px;
  text-align: center;
}
